 /* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* CSS RESSET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





:root{
    /* FONT & TYPOGRAPHY */
--body-font: 'Mukta', sans-serif;
--biggest-font-size: 9rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;
/* FONT WEIGHT */
--font-extra-bold: 800;
--font-bold: 600;

/* COLORS */

--first-color: rgba(0, 0, 0, 0.929);
--second-color: white;

/* Z INDEX */
--z-fixed: 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    cursor: none;
    background-color: var(--first-color);
    overflow-x: hidden;
    
}

/* HEADER */
header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
}

/* NAV */
nav{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 80px;
    color: var(--second-color);
    
    

}

.border{
  
    width: 1420px;
    height: 2px;
    margin-top: -10px;
    margin-left: 20%;
    border-radius: 2000px;
    background-color: white;
    color: white;
    
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

@media(min-width: 900px) {
    nav {
          display: flex;
          justify-content: space-around;
    }
}

@media(max-width: 900px) {
    nav {
          top: 30%;
    }

    .hover-this {
          width: 100%;
          padding: 20px 0;
          display: inline-block;
    }
}

ul li:hover ~ .cursor{
    transform: scale(8);
}

.nav__list{
    display: flex;
    align-items: center;
    
}

.nav__list li{
    margin: 0 40px 0 70px;
   
    
}

.nav__item{
    color: var(--second-color);
    
}

.nav__logo h1{
    font-size: var(--h1-font-size);
    margin-left: 85%;
}
.nav__link, .nav__logo{
    color: var(--second-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.nav__link{
     padding: 0 0 0 20px;
}

#theme-button{
    font-weight: 700;
    cursor: pointer;
    
}

/* HOME */

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}


.contact__container{
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1;
        justify-content: space-between;
}

.contact__title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 11rem;
    font-weight: 800;
    margin-top: 20%;
    line-height: .9;
    margin-left: 40%;
}

/* ARROW ANIM */
.arrow {
    position: absolute;
    top: 84%;
    left: 93%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid #06A8FF;
    border-right: 4px solid #06A8FF;
    transform: rotate(45deg);
    margin: -6px;
    animation: scroll1 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll1 {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
        border-bottom: 4px solid #ff6a06;
        border-right: 4px solid #ff9b06;
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}

.formulaire{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 41%;
    margin-top: 40%;
    padding: 0 0 10%;

    
    
}

.formulaire__container{
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1;
        justify-content: space-between;
        box-sizing: border-box;
  
}

label{
    display: block;
    margin: 20px 0;
    font-size: var(--h3-font-size);
    opacity: 50%;
    
}

input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    opacity: 50%;
    color: white;
    font-size: var(--h2-font-size);
    

}

input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid orange;
    
}

textarea::-webkit-scrollbar{
    width: 4px;
}

textarea::-webkit-scrollbar-thumb{
    background-color: orange;
}

.center{
    text-align: center;
}


button {
    margin-top: 15%;
    font-size: var(--h3-font-size);
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
  }
  button {
padding: 10px 30px;
font-size: 1rem;
cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px #ff9b06, 0px 0px 0px 0px#ff9b06;
  }

  button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #06A8FF 50%, #06A8FF 100%);
    z-index: -1;
    transition: all .5s;
  }

  button:hover::after {
    transform: rotate(150deg);
  }
  
  button:hover {
    transform: translate(0,-6px);
   
  }



.erreur{
    color: orange;

}

.erreur-border{
    border-bottom: 1px solid orange;
}

#succes{
    color: green;
}

.coordonnee{
    margin-top: 5%;
}
.coordonnee h2{
    position: absolute;
    text-align: center;
    justify-content: center;
    grid-column: 2 / 2;
    grid-row: 1;
    width: 100%;
    left: 38%;
    margin-top: 50%;
    font-size: var(--h2-font-size);
    text-decoration: underline;
    
    
}

.coordonnee p{
    position: absolute;
    text-align: right;
    justify-content: center;
    grid-column: 2 / 2;
    grid-row: 1;
    width: 80%;
    left: 14%;
    margin-top: 63%;
    font-size: var(--h3-font-size);
    line-height: 1.1;
    
}

.coordonnee h3{
    position: absolute;
    text-align: right;
    justify-content: center;
    grid-column: 2 / 2;
    grid-row: 1;
    width: 80%;
    left: 14%;
    margin-top: 75%;
    font-size: var(--h3-font-size);
    opacity: 50%;
}